*

!orm/prisma
!orm/package.json
!orm/package-lock.json

!api/src
!api/tsconfig.json
!api/package.json
!api/package-lock.json

!api_query/src
!api_query/tsconfig.json
!api_query/package.json
!api_query/package-lock.json

!web/public
!web/src
!web/index.html
!web/package.json
!web/package-lock.json
!web/tsconfig.json
!web/tsconfig.node.json
!web/vite.config.ts
!web/.browserslistrc

!server/nginx.conf
